body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: burlywood;
}
header{
    display: flex;
}
#icon{
    position: fixed;
    height:10vh;
    top:0px;
    left:0px;
}
#main-title{
    position:fixed;
    left:14vh;
}
#main-container{
    position:fixed;
    top:10vh;
    left:-1vh;
    width:101vw;
    height:90vh;
    border: 3px solid;
    padding:1vh;
    padding-left: 2vh;
}