body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: burlywood;
}
header{
    display: flex;
}
#icon{
    position: fixed;
    height:10vh;
    top:0px;
    left:0px;
}
#main-title{
    position:fixed;
    left:7vw;
    top:1.5vh
}
#main-container{
    position:fixed;
    top:10vh;
    left:-1vw;
    width:101vw;
    height:90vh;
    border: .5vh solid;
    padding:1vh;
    padding-left: 2vh;
}
#links{
    position:fixed;
    border:.5vh solid;
    right:0.75vh;
    height: 6vh;
    width: 65vw;
    padding:0.5vh;
    padding-left:1vw;
    padding-right:1vw;
}