body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: url(cursors/blue_target_cursor.png) 0 0;
    visibility: hidden;
}
img:not(#icon){
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
}
header{
    display: flex;
    min-height: 200px;
}
#icon{
    position: static;
    height:10vh;
    top:0px;
    left:0px;
    margin-right: 2vh;
}
#main-title{
    position:relative;
    line-height:0px;
    top: 20px;
    min-width: 300px;
}
#links{
    margin:2vh;
    position: relative;
    border: 5px solid;
    height: 6vh;
    width: 65vw;
    padding:0.5vh;
    padding-left:1vw;
    padding-right:1vw;
    display:inline-flex
}
#links h2{
    line-height: 0px;
}
#As{
    position: relative;
    top:1.25vh;
    left:1.5vh;
}
#main-container{
    position:fixed;
    top:12vh;
    left:1vw;
    width:101vw;
    height:90vh;
    border: 5px solid;
    padding:1vh;
    margin: 2vh;
}
